@font-face {
  font-family: "iranYekanHeader";
  src: url("../fonts/iranYekan/Iranyekan.ttf");
  src: url("../fonts/iranYekan/Iranyekan.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 73px;
}
@font-face {
  font-family: "iranYekanText";
  src: url("../fonts/iranYekan/Iranyekan.ttf");
  src: url("../fonts/iranYekan/Iranyekan.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

@font-face {
  font-family: "lalezar";
  src: url("../fonts/Lalezar-Font/Lalezar-Regular.otf") format("openType");
  src: url("../fonts/Lalezar-Font/Lalezar-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 83px;
}

@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
}
