.cardStyle {
  width: 30%;
  height: 450px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #28273526;
  border-radius: 6px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.cardImage {
  width: 100%;
  height: 200px;
}
.cardStyle .price {
  color: #cf3b4a;
}
