@import url(../public/fonts/font.css);
h1 {
  font-family: lalezar;
  color: #3bcfc0;
}
h2,
span {
  font-family: iranYekanHeader;
  color: #282735;
}

p,
a {
  font-family: iranYekanText !important;
  color: #282735a6;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  border: none;
}
li {
  list-style-type: none;
}
